/* General Styles */
body.Home {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background: url('../Photos/agri_data.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background image */
}

body.About {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background: url('../Photos/grazing.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background image */
}

body.Projects {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background: url('../Photos/agland.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background image */
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background:  rgba(51, 51, 51, 0.8);c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px; /* Add padding to the links */
    border-radius: 5px; /* Optional: Add rounded corners */
}

header nav a:hover {
    text-decoration: underline;
}

section {
    position: relative;
    padding: 180px 20px 20px;
    height: 85vh;
    z-index: 1; /* Add z-index to keep the sections on top */
    padding: 30px 20px; /* Inner spacing inside each section */
    margin:200px 0; /* Adds space between sections */
    min-height: 10vh; /* Adjust the height of each section */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

#section1 {
    background: #ffffff;

}



#section2 {
    background: #ffffff;
 
}

/* Footer and Back-to-Top Button */
footer {
    text-align: center;
    padding: 20px;
    background: #1faf37;
    color: white;
    position: relative;
}

#backToTop {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    background: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

#backToTop:hover {
    background: #ff4500;
}
